@model CreditacaoMVC.Models.Docente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Docente</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Telefone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">Coordenador</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Coordenador)
    </div>

    <div class="display-label">Administrador</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Administrador)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
