@model CreditacaoMVC.Models.UnidadeCurricular
@{
    ViewBag.Title = "Delete";
}
<h2>
    Exluir</h2>
<h3>
    Tem certeza que deseja excluir esta unidade curricular?</h3>
<fieldset>
    <legend>UnidadeCurricular</legend>
    <div class="display-label">
        Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="display-label">
        Ects</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ects)
    </div>
    <div class="display-label">
        Descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
    <div class="display-label">
        Curso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Curso.Nome)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Excluir" />
        |
        @Html.ActionLink("Voltar", "Index")
    </p>
}