@model CreditacaoMVC.Models.UnidadeCurricular
@{
    ViewBag.Title = "Detalhes da Unidade Curricular";
}
<h2>
    Detalhes da Unidade Curricular</h2>
<fieldset>
    <legend>UnidadeCurricular</legend>
    <div class="display-label">
        Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="display-label">
        Ects</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ects)
    </div>
    <div class="display-label">
        Descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
    <div class="display-label">
        Curso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Curso.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UnidadeCurricularId }) |
    @Html.ActionLink("Voltar", "Index")
</p>