@model IEnumerable<CreditacaoMVC.Models.UnidadeCurricular>
@{
    ViewBag.Title = "Index";
}
<h2>
    Lista das Unidades Curriculares</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Ects
        </th>
        <th>
            Descricao
        </th>
        <th>
            Curso
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UnidadeCurricularId }) |
                @Html.ActionLink("Details", "Details", new { id = item.UnidadeCurricularId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UnidadeCurricularId })
            </td>
        </tr>
    }
</table>